.widget {
  padding: 5px 40px 5px 10px;
  gap: 8px;
  display: flex;
  align-items: center;

  .widget__weather-icon {
    height: 100%;
    width: 20px;
    background-color: red;
  }

  .widget__text {
    user-select: none;
    font-size: 11px;
  }
}
