@import '../../color.scss';

.calender-wrap {
  position: absolute;
  width: 320px;
  height: 48px;
  top: -64px;
  right: 12px;
  background-color: $task-background;
  border-radius: 8px;
  border: 1px solid #8c8c8c;
  box-shadow: 3px 3px 10px #8c8c8c90;
  animation: slideIn 200ms ease-in-out;
}

@keyframes slideIn {
  0% {
    opacity: 0.5;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
